@font-face{font-family:"GothamProBold";src:url(//hal.loc/wp-content/themes/haliky/fonts/GothamProBold/GothamProBold.eot);src:url(//hal.loc/wp-content/themes/haliky/fonts/GothamProBold/GothamProBold.eot?#iefix)format("embedded-opentype"),
url(//hal.loc/wp-content/themes/haliky/fonts/GothamProBold/GothamProBold.woff) format("woff"),
url(//hal.loc/wp-content/themes/haliky/fonts/GothamProBold/GothamProBold.ttf) format("truetype");font-style:normal;font-weight:normal}@font-face{font-family:"GothamProMedium";src:url(//hal.loc/wp-content/themes/haliky/fonts/GothamProMedium/GothamProMedium.eot);src:url(//hal.loc/wp-content/themes/haliky/fonts/GothamProMedium/GothamProMedium.eot?#iefix)format("embedded-opentype"),
url(//hal.loc/wp-content/themes/haliky/fonts/GothamProMedium/GothamProMedium.woff) format("woff"),
url(//hal.loc/wp-content/themes/haliky/fonts/GothamProMedium/GothamProMedium.ttf) format("truetype");font-style:normal;font-weight:normal}.alignright{float:right}.aligncenter{display:block;margin-left:auto;margin-right:auto}.price-txt
span.old{color:#a0a0a0;text-decoration:line-through;margin-left:15px}.banner-section a.mod-nobg{right:30px;bottom:30px;width:180px}.sales .article-inner:before{content:"акция";z-index:99;min-width:73px;color:#fff;font:700 10px/30px "Open Sans", sans-serif;background-color:#fa999c;position:absolute;top:15px;right:15px;height:30px;text-align:center;border-radius:30px;padding:0
8px;text-transform:uppercase}.account-tab-list{margin:20px
auto 0;padding:0;text-align:center;list-style:none;position:relative}.account-tab-item{float:none;margin:0;padding:0;display:inline-block;line-height:42px}.account-tab-link.current{color:#333}.account-tab-link{font-size:20pt !important;color:#264197;text-transform:none;text-align:center;padding:0;width:auto;border:none;line-height:1;white-space:nowrap;font-weight:500;position:relative;transition:opacity .3s ease .3s;-webkit-transition:opacity .3s ease .3s;-moz-transition:opacity .3s ease .3s;text-decoration:none}.account-tab-link.active{font-weight:700;text-decoration:underline}.account-tab-list
.sep{font-size:30pt !important;display:inline-block;color:#264197;margin:0
20px}.tabs>form{display:none}.tabs>form.current{display:block}.product-name
a{padding:25px
0;vertical-align:middle;font:400 14px/1.25 "Open Sans",sans-serif;text-align:center;text-decoration:none}.product-price{color:#3a3c43;padding:25px
0;vertical-align:middle;font:400 14px/1.25 "Open Sans",sans-serif;text-align:center}.product-subtotal{padding:25px
0;vertical-align:middle;font:400 14px/1.25 "Open Sans",sans-serif;text-align:center;color:#3a3c43}.woocommerce-ordering{position:relative;display:inline-block;vertical-align:middle;font-weight:600;font-size:13px;line-height:1.25;cursor:pointer}.cabinet-menu ul li.is-active a, .cabinet-menu ul li:hover
a{color:#3a3c43}.rate_star.active{color:#F9D932}.added_to_cart.wc-forward{display:none}.button.wc-forward{display:none;opacity:0}.wpua-edit-container
h3{margin-bottom:15px}#wpua-upload-button-existing{margin-bottom:15px}#billing_country_field{display:none}#wpua-max-upload-existing{display:none}#wpua-allowed-files-existing{display:none}.edit-attachment{display:none}.tools-ava
img{width:34px;border-radius:25px}#orderform .woocommerce-account-fields{display:none}.cart-table td .numinput input[type=number]{text-align:center;color:#3a3c43;font:400 14px/1.25 "Open Sans", sans-serif;width:115px;height:44px;outline:0;box-sizing:border-box;background-color:#b8b9c2;padding:0
10px;border-radius:44px;border:1px
solid #dfdcdc;line-height:44px}.cart-table td .numinput .jq-number{display:inline-block;border:none;border-radius:none;text-align:center !important;position:relative;overflow:hidden;color:#3a3c43}.cart-table td input[type=number]::-webkit-inner-spin-button,
.cart-table td input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:0}.intrinsic-container{position:relative;height:0;overflow:hidden}.intrinsic-container-16x9{padding-bottom:56.25%;margin-bottom:35px}.intrinsic-container-4x3{padding-bottom:75%}.intrinsic-container
iframe{position:absolute;top:0;left:0;width:100%;height:100%}#form-row.form-row{margin-bottom:23px}.woocommerce-billing-fields__field-wrapper{margin-bottom:23px}.cart_totals.calculated_shipping{display:none}#payment.woocommerce-checkout-payment
.wc_payment_methods.payment_methods{display:none}#change_dost [hidden]{display:none}.woocommerce-billing-fields .jq-selectbox__dropdown li[data-id="1"]{display:none}#dost{display:none}#akjaxs .orderform-agree{display:none}.account-forms{margin:20px
auto}.feedback .feedback-form .feedback-form-row input[type=password]{width:100%;height:48px;border:1px
solid #d8d8d9;padding:0
10px;box-sizing:border-box}#tab1_tab
.pading{margin:20px
auto}.woocommerce
.cart_totals{display:none}.woocommerce-lost-password
.lost_reset_password{margin-top:40px}.woocommerce-lost-password .lost_reset_password
.loginotstup{margin-bottom:20px}.dgwt-wcas-sp
span.old{display:none}.spinner{background:url('/wp-admin/images/wpspin_light.gif') no-repeat;background-size:16px 16px;display:none;float:right;opacity: .7;filter:alpha(opacity=70);width:16px;height:16px;margin:5px
5px 0}.dgwt-wcas-suggestion{cursor:pointer}.contacts .contacts-form input[type=email]{border-bottom:1px solid #fff;color:#fff;padding-bottom:10px;text-transform:uppercase;text-overflow:ellipsis;overflow:hidden}input[type=email]{width:100%;box-sizing:border-box;background:0 0;border:0;outline:0}.contacts .contacts-form input[type=email]::-webkit-input-placeholder{color:#8faaf8;text-overflow:ellipsis;font:400 12px/1.25 "Open Sans", sans-serif;text-transform:uppercase}.contacts .contacts-form input[type=email]::-moz-placeholder{color:#8faaf8;text-overflow:ellipsis;font:400 12px/1.25 "Open Sans", sans-serif;text-transform:uppercase}.contacts .contacts-form input[type=email]:-ms-input-placeholder{color:#8faaf8;text-overflow:ellipsis;font:400 12px/1.25 "Open Sans", sans-serif;text-transform:uppercase}.contacts .contacts-form input[type=email]::placeholder{color:#8faaf8;text-overflow:ellipsis;font:400 12px/1.25 "Open Sans",sans-serif;text-transform:uppercase}.el-banner.banner-section{max-width:80%;text-align:center;margin:0
auto 85px}.woocommerce-invalid-required-field
input{border-color:red !important}#orderform
.jqselect.error{border-color:red !important}#orderform .woocommerce-NoticeGroup{display:none}.tovar-slider-stats
#remove_click{pointer-events:none}.woocommerce
.order_details{display:none}#uni_submit_liqpay_payment_form{font-size:100%;color:#fff;padding:0px
0;margin:10px}#closeremodal{margin:10px}.jq-selectbox__select-text, .itemlist-filters
.berocket_aapf_widget{display:inline-block}#callback{background:url(//hal.loc/wp-content/themes/haliky/new/first_img.png) center center no-repeat;display:inline-block;width:119px;height:119px;bottom:28%;border-radius:60px 0 0 60px;right:0px;background-color:#fff;position:fixed;z-index:99999;cursor:pointer;transition:3s}#callback.open{background:url(//hal.loc/wp-content/themes/haliky/new/end.png) center center no-repeat;display:inline-block;width:119px;height:119px;bottom:28%;border-radius:60px 0 0 60px;right:0px;background-color:#fff;position:fixed;z-index:99999;cursor:pointer;transition:3s}#callback.visible{visibility:visible}#callback_panel{padding:10px
0;display:block;width:220px;height:99px;bottom:28%;right:-220px;position:fixed;z-index:99999;background:#fff;background-color:#fff;transition:3s}#callback_panel
p.phone{font-family:GothamProBold;font-size:21px;color:#0671cf;font-weight:600;text-align:center;margin:5px
0 5px}#callback_panel
p.text{font-family:GothamProMedium;font-size:16px;color:#0671cf;line-height:28px;font-weight:600;text-align:center;margin:10% 0}.goods-slide-half .goods-front h2
a{color:#fff;text-decoration:none}.doods-tile-title
a{color:#3a3c43;text-decoration:none}.goods-tile .item-price{font-weight:bold;color:#044ca9;margin-bottom:24px;font-size:20px}.goods-front .item-price{font-weight:bold;color:#fff;margin-bottom:24px}.goods-tile .item-price .woocommerce-Price-currencySymbol{margin-left:3px}.goods-front .item-price .woocommerce-Price-currencySymbol{margin-left:5px}@media all and (max-width: 768px){.goods-front .item-price{font-size:22px}#callback{display:none}}header .header-menu ul li .tools-lang
li{width:10%;display:inline-block;padding:4px
0;margin-left:6px;background:#d8d8d8;float:right}header .header-menu ul li .tools-lang
li.active{display:inline-block;background:#044ca9;color:#fff}header .header-menu ul li .tools-lang li.active
a{color:#fff;font:400 14px/22px "Open Sans", sans-serif}header .header-menu ul li .tools-lang.active
li{display:inline-block}header .header-menu ul li .tools-lang li
a{pointer-events:none}header .header-menu ul li .tools-lang.active li
a{pointer-events:all}header .header-menu ul
li.hides{display:none}@media all and (max-width: 1199px){.desctope{display:none}header .header-menu ul
li.hides{display:inline-block}.text_before{font-size:18px !important;float:left;color:#919191;margin-left:5%}.borders{border-bottom:1px solid #a8a8a8;border-top:1px solid #a8a8a8;padding:17px
0!important}.tools-logout{float:right}.search_menu{border:1px
solid #a8a8a8;width:100%;padding:10px
0 !important}.search_menu
input{border:none;width:85%;font-size:18px !important}.search_menu input::placeholder{color:#919191}.tools-row
a{font:600 14px/26px "Open Sans", sans-serif !important}.tools-row .tools-lang
a{font:400 14px/24px "Open Sans", sans-serif !important}.langs
a{pointer-events:all !important}header .menu-trigger span:after, header .menu-trigger span:before{content:"";width:100%;left:0;background:#083e9b;position:absolute;height:4px}header .menu-trigger.active span:before{top:0px;transform:rotate(50deg)}header .menu-trigger.active span:after{bottom:0px;transform:rotate(-50deg)}header .menu-trigger span:after{bottom:-8px}header .menu-trigger span:before{top:-8px}header .menu-trigger
span{position:absolute;width:70%;height:4px;background:#083e9b;top:0;bottom:0;left:0;right:0;margin:auto}header .menu-trigger.active
span{background:none}header{border-bottom:none;padding:0;padding-top:15px;height:80px}header .header-logo{display:block;position:absolute;left:50%;margin-left:-25%;text-align:center;width:50%}header .menu-trigger{margin-top:15px;margin-left:10px;display:inline-block;position:absolute;width:50px;height:50px;left:0;padding:0;border-right:none;z-index:9}.footer-call+.basket, .header-right-call
.basket{margin-top:20px;margin-right:15px}header .header-menu{top:0;z-index:8}.my-static-link
label{font-size:15px;font-weight:700;color:#b7b7b7;margin-top:21px;display:block;margin-bottom:10px}}.mobile_otzivov_about{display:none}.image_full{display:none}@media all and (max-width: 768px){.tovar-slider-info{display:flex;flex-direction:column}.tovar-slider-title{order:2}.tovar-slider-content{order:3}.tovar-slider-stats{order:4}.tovar-slider-btns{order:1;margin-bottom:25px}.tovar-wrapper
.numinput{display:none !important}.tovar-slider .tovar-slider-main{width:100%;margin-left:0;min-width:290px}.tovar-slider .tovar-slider-main .tovar-slider-main-slide
img{max-width:100%;max-height:100%;display:inline-block;position:relative;top:50%;transform:inherit}.tovar-slider .tovar-slider-main .tovar-slider-main-slide{padding:20px;height:100%}.image_full{display:block}header .header-menu{padding:15px
15px 0px}.my-static-link{margin-bottom:15px}.image_full{margin-left:-15px;margin-right:-15px;display:block;width:auto;max-width:-webkit-fill-available;-webkit-box-flex:1;-webkit-flex:1 100%;-ms-flex:1 100%;flex:1 100%}.topblock-left{margin-top:-40px}.features{display:none}.mobile_otzivov_about{display:block}}@media all and (max-width: 360px){.my-static-link
label{font-size:14px;font-weight:700;color:#b7b7b7;margin-top:21px;display:block;margin-bottom:10px}}#callback{display:none}@media all and (max-width: 768px){.first-step{display:flex;flex-direction:column}.first-step
#billing_first_name_field{order:1}.first-step
#billing_country_field{order:2}.first-step
#billing_address_1_field{order:3}.first-step
#billing_phone_field{order:4}.first-step
#billing_email_field{order:5}.first-step
#submit_first_step{order:6}.first-step
#billing_address_1_field{display:none !important}.first-step
#billing_email_field{display:none}.second-step{display:none}.second-twoo{display:none}#order_review{display:none}}