.widget .dgwt-wcas-search-wrapp{display:block}.dgwt-wcas-search-wrapp .product-title{color:#333;display:block;line-height:110%;margin:0}.dgwt-wcas-tpd-image
img{margin:0
15px 0 0!important;display:block}.dgwt_wcas_rtl .dgwt-wcas-tpd-image
img{margin:0
0 0 15px!important}.dgwt-wcas-default-preloader
*{box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.dgwt-wcas-default-preloader{width:1em;height:1em;font-size:169px;position:relative;display:block;margin:56px
auto}.dgwt-wcas-default-preloader:before,.dgwt-wcas-default-preloader:after{content:"";top:0;display:block;width:1em;height:1em;position:absolute;border-width:0.503em;border-style:double;border-color:transparent;border-radius:1em;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;animation:dgwt-wcas-spin 0.8s infinite;-o-animation:dgwt-wcas-spin 0.8s infinite;-ms-animation:dgwt-wcas-spin 0.8s infinite;-webkit-animation:dgwt-wcas-spin 0.8s infinite;-moz-animation:dgwt-wcas-spin 0.8s infinite}.dgwt-wcas-default-preloader:after{left:0;border-left-color:rgba(0,0,0,0.05)}.dgwt-wcas-default-preloader:before{right:0;border-right-color:rgba(0,0,0,0.02);animation-delay:-0.2025s;-o-animation-delay:-0.2025s;-ms-animation-delay:-0.2025s;-webkit-animation-delay:-0.2025s;-moz-animation-delay:-0.2025s}@keyframes dgwt-wcas-spin{from{transform:rotate(360deg)}}@-o-keyframes dgwt-wcas-spin{from{-o-transform:rotate(360deg)}}@-ms-keyframes dgwt-wcas-spin{from{-ms-transform:rotate(360deg)}}@-webkit-keyframes dgwt-wcas-spin{from{-webkit-transform:rotate(360deg)}}@-moz-keyframes dgwt-wcas-spin{from{-moz-transform:rotate(360deg)}}.dgwt-wcas-preloader-wrapp
img{margin:10px
auto 0 auto;display:block;max-width:200px}.dgwt-wcas-suggestions-wrapp{max-height:calc(100vh - 113px);overflow:auto;display:table;width:100%}.dgwt-wcas-is-detail-box .dgwt-wcas-suggestions-wrapp{max-width:550px}.dgwt-wcas-full-width.dgwt-wcas-is-detail-box .dgwt-wcas-suggestion{padding:8px
15px}.dgwt-wcas-details-left .dgwt-wcas-suggestions-wrapp{border-radius:0 0 5px 0;border-left-color:#eee}.dgwt-wcas-details-right .dgwt-wcas-suggestions-wrapp{border-radius:5px 0 0 5px;border-right-color:#eee}.dgwt-wcas-has-img .dgwt-wcas-suggestion{display:table-row;table-layout:fixed}.dgwt-wcas-si{display:table-cell;vertical-align:middle;padding:35px
0;border-bottom:1px solid #e9e9e9;width:170px;text-align:center}.dgwt-wcas-nores .dgwt-wcas-st{padding:57px
0;text-align:center}.dgwt-wcas-st{padding-left:10px;display:block;color:#444;font-size:15px}.dgwt-wcas-has-price .dgwt-wcas-st{padding-left:27px;text-decoration:none;font:400 18px/25px "Open Sans",sans-serif;color:#3a3c43;width:100%;margin-bottom:5px;display:block}.dgwt-wcas-sku{font-size:80%;margin-left:6px}.dgwt-wcas-st>span{display:inline-block;vertical-align:middle}.dgwt-wcas-si
img{max-width:100%;max-height:100%}.dgwt-wcas-content-wrapp{display:table-cell;vertical-align:middle;padding:35px
0;border-bottom:1px solid #e9e9e9}.dgwt-wcas-sp{font:400 18px/25px "Open Sans",sans-serif;color:#adadad;display:block;padding-left:27px}.dgwt-wcas-search-form{margin:0;padding:0}.dgwt-wcas-sp
del{opacity:0.5;font-size:12px}.dgwt-wcas-sd{color:#777;display:block;padding-left:15px;line-height:14px;padding-right:60px;margin-top:5px}.dgwt-wcas-suggestion:hover .dgwt-wcas-st
span{color:#264197}.dgwt-wcas-suggestion-selected:first-child{border-top:none}.dgwt_wcas_rtl .dgwt-wcas-suggestion{padding-left:0;padding-right:15px;text-align:right}.dgwt-wcas-full-width .dgwt-wcas-suggestion{font-size:15px;padding:5px
15px}.dgwt-wcas-details-wrapp{background:#fff none repeat scroll 0 0;border:1px
solid #ddd;border-top:none;padding:0;width:300px;height:340px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:100;min-height:340px}.dgwt-wcas-details-right .dgwt-wcas-details-wrapp{border-left:none;border-radius:0 5px 5px 0}.dgwt-wcas-details-left .dgwt-wcas-details-wrapp{border-right:none;border-radius:5px 0 0 5px}.dgwt-wcas-full-width .dgwt-wcas-suggestions-wrapp{border-radius:0 0 0 5px}.dgwt-wcas-full-width .dgwt-wcas-details-wrapp{border-radius:0 0 5px 0}.dgwt-wcas-details-inner{padding:15px
10px}.woocommerce .dgwt-wcas-pd-rating .star-rating{float:left;margin-right:5px;font-size:12px;color:#CCAE72}.woocommerce.dgwt_wcas_rtl .dgwt-wcas-pd-rating .star-rating{float:right;margin-left:5px;margin-right:0}.dgwt-wcas-datails-title{border-bottom:1px dashed #eee;display:block;margin-bottom:15px;padding-bottom:5px;font-size:14px}.dgwt-wcas-pd-title{border-bottom:1px dashed #eee;margin-bottom:15px;padding-bottom:5px;display:block;color:#202020;text-decoration:none}.dgwt-wcas-pd-title .product-title{font-weight:900;color:#202020;text-transform:uppercase;letter-spacing:-1px;margin:0}.dgwt-wcas-details-title-tax{text-transform:uppercase;font-weight:900;letter-spacing:-1px;margin-right:3px}.dgwt-wcas-tax-product-details{margin-bottom:15px;display:block;text-decoration:none}.dgwt-wcas-tax-product-details:after{content:'';clear:both;display:block}.dgwt-wcas-details-wrapp .dgwt-wcas-pd-title{margin-bottom:8px}.dgwt-wcas-pd-rest{display:flex;flex-direction:column;float:left;height:68px;justify-content:center;width:190px}.dgwt-wcas-tpd-image{float:left;width:60px;margin-right:15px}.dgwt-wcas-tpd-rest{float:left;max-width:200px}.dgwt-wcas-tpd-rest .product-title{display:block;line-height:13px;font-size:13px;font-weight:500;letter-spacing:0;margin:0
0 8px;overflow:hidden;text-overflow:ellipsis;text-transform:uppercase;white-space:nowrap;width:145px}.dgwt-wcas-pd-price{margin-top:10px;font-size:14px;line-height:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:145px;color:#777;margin-top:5px;font-weight:lighter}.dgwt-wcas-pd-price del
.amount{font-weight:lighter;background:transparent;font-size:90%;opacity:0.6}.dgwt-wcas-pd-price
ins{background:transparent;text-decoration:none}.dgwt-wcas-pd-rating{font-size:13px;line-height:13px}.dgwt-wcas-pd-rating:after{content:'';clear:both;display:block}.dgwt-wcas-pd-review{color:#777;font-size:11px;line-height:11px}.dgwt-wcas-datails-title{border-bottom:1px dashed #eee;display:block;margin:5px
0 15px 0;padding-bottom:5px}.dgwt-wcas-pd-title{border-bottom:1px dashed #eee;margin-bottom:15px;padding-bottom:5px;display:block;text-decoration:none}.dgwt-wcas-pd-title .product-title{font-weight:900;text-transform:uppercase;letter-spacing:-1px}.dgwt-wcas-details-title-tax{text-transform:uppercase;font-weight:900;letter-spacing:-1px;margin-right:3px}.dgwt_wcas_rtl .dgwt-wcas-details-title-tax{margin:0
0 0 3px;float:right}.dgwt-wcas-tax-product-details{margin-bottom:15px;display:block}.dgwt-wcas-tax-product-details:after,.dgwt-wcas-pd-details:after{content:'';clear:both;display:block}.dgwt-wcas-tpd-image,.dgwt-wcas-pd-image{float:left;width:70px;margin-right:15px;padding:4px;background-color:#fff;border:1px
solid #e8e8e8;border-radius:4px}.dgwt-wcas-tpd-image img, .dgwt-wcas-pd-image
img{display:block}.dgwt_wcas_rtl .dgwt-wcas-tpd-image, .dgwt_wcas_rtl .dgwt-wcas-pd-image{float:right;margin-right:0;margin-left:15px}.dgwt_wcas_rtl .dgwt-wcas-tpd-rest, .dgwt_wcas_rtl .dgwt-wcas-pd-rest{float:right;max-width:200px}input[type="search"].dgwt-wcas-search-input,input[type="text"].dgwt-cas-search-input{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;-webkit-box-shadow:none;box-shadow:none;margin:0}.dgwt-wcas-pd-desc{font-size:13px;line-height:130%;margin:12px
0}.dgwt-wcas-pd-addtc{margin:10px;text-align:right}.dgwt-wcas-pd-addtc
a{margin-bottom:5px}input[type="submit"].dgwt-wcas-search-submit,button.dgwt-wcas-search-submit{position:relative}.dgwt-wcas-ico-loupe{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0;height:65%;display:block}.dgwt-wcas-preloader{cursor:pointer;height:100%;position:absolute;right:0;top:0;width:40px;z-index:1;background-repeat:no-repeat;background-position:right 15px center;background-size:auto 44%}.dgwt-wcas-inner-preloader{background-image:url(//hal.loc/wp-content/plugins/ajax-search-for-woocommerce/assets/css/../img/preloader.png);background-repeat:no-repeat;background-position:right 15px center;background-size:auto 22px}.dgwt-wcas-close{background-image:url(//hal.loc/wp-content/plugins/ajax-search-for-woocommerce/assets/css/../img/close.png);background-repeat:no-repeat;background-position:right 15px center;background-size:auto 18px;opacity:0.6;-webkit-transition:all 160ms ease-in-out;-moz-transition:all 160ms ease-in-out;-ms-transition:all 160ms ease-in-out;-o-transition:all 160ms ease-in-out;transition:all 160ms ease-in-out}.dgwt-wcas-close:hover{opacity:0.3}@media screen and (max-width: 992px){.dgwt-wcas-is-detail-box .dgwt-wcas-suggestions-wrapp{max-width:none}}.dgwt-wcas-suggestion
strong{font-weight:bold}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}.dgwt-wcas-open .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit{border-radius:0 2px 0 0}.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:hover{opacity:0.7}.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:active,
.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:focus{opacity:0.7;outline:0}.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:hover:before{border-right-color:#96588A}.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:focus:before,
.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:active:before{border-right-color:#96588A}.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit::-moz-focus-inner{border:0;padding:0}.dgwt-wcas-ico-loupe{fill:#fff}.dgwt-wcas-details-inner
.added_to_cart{display:block}.dgwt-wcas-has-img .dgwt-wcas-sp > *,
.dgwt-wcas-has-desc .dgwt-wcas-sp>*{display:block}.dgwt-wcas-has-img .dgwt-wcas-sp,
.dgwt-wcas-has-desc .dgwt-wcas-sp{top:12px}.dgwt-wcas-is-details .dgwt-wcas-content-wrapp{display:flex;flex-direction:column;height:100%;justify-content:center;resize:vertical;padding-left:20px}.dgwt-wcas-is-details .dgwt-wcas-suggestions-wrapp{min-height:340px}.dgwt-wcas-is-details .dgwt-wcas-has-img .dgwt-wcas-suggestion{min-height:40px}.dgwt-wcas-is-details .dgwt-wcas-suggestions-wrapp{overflow:visible}.dgwt-wcas-is-details .dgwt-wcas-si{min-height:40px}.dgwt-wcas-is-details .dgwt-wcas-si
img{width:30px}.dgwt-wcas-is-details .dgwt-wcas-sp{display:flex;top:0;flex-direction:column;height:100%;justify-content:center;resize:vertical}.dgwt-wcas-is-details .dgwt-wcas-sd{color:#777;font-size:11px;line-height:100%}.dgwt-wcas-has-img .dgwt-wcas-suggestion[data-taxonomy='product_cat'],
.dgwt-wcas-has-img .dgwt-wcas-suggestion[data-taxonomy='product_tag']{padding-left:15px;min-height:0}.dgwt-wcas-has-img .dgwt-wcas-suggestion[data-taxonomy='product_cat'] .dgwt-wcas-st,
.dgwt-wcas-has-img .dgwt-wcas-suggestion[data-taxonomy='product_tag'] .dgwt-wcas-st{padding-left:0}.dgwt-wcas-no-submit .dgwt-wcas-ico-loupe{height:50%;left:12px;right:auto;opacity:0.5;max-height:22px;fill:#000}.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input{padding:10px
15px 10px 40px}@media (max-width: 991px){.dgwt-wcas-si{width:70px}}